@import url("https://fonts.googleapis.com/css?family=Open+Sans");
* {
  padding: 0;
  margin: 0;
}
*,
*:before,
*:after {
  box-sizing: border-box;
}
body {
  background:#0a0a0a;
  color: white;
  font-family: "Open Sans";
}

img {
  border: 0px;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  cursor: pointer;
  color: inherit;
}

a:hover,
a:focus {
  text-decoration: none;
  outline: 0 none;
}

hr {
  margin: 0;
}

a.underline {
  padding-bottom: 4px;
  color: white;
  border-bottom: 2px solid white;
}

.gradient-subtext {
  background: -webkit-linear-gradient(
    270.97deg,
    #ffe580 -21.36%,
    #ff7571 -2.45%,
    #ea5dad 26.84%,
    #c2a0fd 64.15%,
    #3bf0e4 108.29%,
    #b2f4b6 159.03%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.gradient-text {
  background: linear-gradient(267.91deg, #ffe57f 9.35%, #ff7170 96.48%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.text-gradient-purple {
  background: linear-gradient(87.54deg, #9867f0 -6.8%, #ed4e50 84.14%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.button {
  font-family: "alliance", mono, "Open Sans";
  position: relative;
  z-index: 1;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  text-transform: none;
  font-weight: 600;
  font-size: 14px;
  padding: 4px 28px;
  height: 56px;
  border-radius: 0;
  overflow: hidden;
  background: transparent;
  letter-spacing: 0.07em;
  text-transform: uppercase;
  font-feature-settings: "salt" on, "ss01" on, "ss02" on;
  color:  #010b15;;
  border: 2px solid #ff7571;
}

.button:hover {
  background-color: rgb(134, 186, 238);
  background-position: 58% 50%;
  background-size: 500%;
  color: #e3e8ec;
}

section.updates {
  text-align: center;
  display: inline-block;
  width: 100%;
  height: auto;
  border-top: 1px solid rgba(66, 82, 109, 0.5);
  border-bottom: 1px solid rgba(66, 82, 109, 0.5);
  padding-top: 45px;
  padding-bottom: 45px;
  color: #b5bfd2;
}

section.updates p.signup-text {
  font-size: 20px;
}

section.updates p.follow-text {
  margin-top: 35px;
}

footer {
  text-align: center;
  display: inline-block;
  width: 100%;
  height: auto;
  color: #959da5;
  padding: 50px 0;
}

footer ul {
  width: 100%;
  float: left;
  margin-top: 25px;
  margin-bottom: 25px;
}

footer .logo {
  width: 35px;
  margin-bottom: 10px;
}

footer .copyright {
  width: 100%;
  display: inline-block;
  margin-bottom: 30px;
}

ul.linear-list li {
  display: inline-block;
  padding: 10px;
}

/* Header CSS  */
header {
  display: inline-block;
  width: 100%;
  min-height: 70px;
  background: rgb(136, 173, 214);
  border-bottom: 1px solid rgba(243, 247, 252, 0.5);
  padding: 0 30px;
}

.header_inner_Wrapper {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
}

.header_inner_Wrapper .logo img {
  width: 160px;
  margin: 8px 0;
  margin: 10px;
  margin-right: 30px;
}



.header_inner_Wrapper .logo img {
  max-width: 100%; /* Ensure the image doesn't exceed its container */
  height: auto; /* Maintain the aspect ratio of the image */
  margin: 10px;
  margin-right: 30px;
}



header nav {
  display: flex;
  flex-wrap: nowrap;
  justify-content: end;
  margin-left: auto;
}

header nav li {
  display: inline-block;
}

header nav li a {
  padding: 20px 20px;
  display: inline-block;
  position: relative;
}

header nav li a:hover,
header nav li a:focus {
  text-decoration: none;
  color: #fff;
}
header nav li:last-child a {
  padding-right: 0;
}
header nav li.active a {
  font-style: italic;
}
header nav li.active a::after {
  content: "";
  width: 100%;
  height: 2px;
  display: inline-block;
  position: absolute;
  bottom: -5px;
  left: 0;
  background-color: #eb3e31;
}
/* Header CSS Ends  */

section.blog {
  width: 100%;
  float: left;
}

section.blog .subtitle {
  color: #ffe57f;
}

section.blog h1 {
  font-size: 45px;
  color: #ffe57f;
  margin-bottom: 15px;
}

section.blog p {
  text-align: justify;
  line-height: 30px;
  padding-top: 8px;
  padding-bottom: 15px;
}

section.blog .author {
  float: left;
  margin-left: 20px;
  margin-bottom: 35px;
}

section.blog .time {
  color: #b5bfd2;
}

section.blog .author .details {
  float: left;
  margin-left: 15px;
}

section.blog .author h5 {
  width: 100%;
  margin-top: 5px;
  font-size: 19px;
  margin-bottom: 5px;
}

section.blog .author span {
  width: 100%;
}

section.blog .author img {
  float: left;
  width: 70px;
  border-radius: 50%;
}

header .time {
  float: left;
  line-height: 60px;
  color: #b5bfd2;
}

header .countdown-time {
  float: left;
  line-height: 60px;
  margin-left: 15px;
}

section.sponsors {
  display: inline-block;
  text-align: center;
  width: 100%;
  height: auto;
  background-color: #ebeef0;
  /* border-top: 1px solid rgba(66,82,109,0.5); */
  padding: 50px 0;
}

section.speakers {
  text-align: center;
  display: inline-block;
  width: 100%;
  height: auto;
  background-color: #12385a;
  padding: 50px 0;
}

section.attends {
  text-align: center;
  display: inline-block;
  width: 100%;
  height: auto;
  /* background-color: #fbf7f7; */

  
  /* background-image: url("shape-bl.webp"); */
  background-position: bottom/left;
  background-attachment: cover;
  background-repeat: no-repeat;
}

section.attends h2 {
  font-size: 59px;
  margin-bottom: 60px;
  margin-top: 45px;
}

section.attends h4 {
  font-size: 29px;
}

section.attends p {
  color: #b5bfd2;
  margin-bottom: 50px;
}

section.content-small {
  height: auto !important;
}

section.content-small h1 {
  margin-top: 0px !important;
}

section.content {
  text-align: center;
  display: inline-block;
  width: 100%;
  min-height: 100px;
  background-color: #f2f4f7;
  /* background-image: url("../images/pattern-light.svg"); */
  background-position: center;
  background-size: cover;
  padding: 30px 0 80px;
}

section.sponsors h4 {
  font-size: 36px;
  line-height: 96px;
}

section.content h1 {
  font-size: 96px;
  line-height: 96px;
  margin-top: 45px;
  margin-bottom: 25px;
}

section.content p {
  margin-bottom: 15px;
  color: #b5bfd2;
  font-size: 22px;
}

/* .container {
    width: 90%;
    padding: 45px;
    margin: auto;
} */
ul.sponsor-list {
  float: left;
  width: 100%;
  margin-top: 15px;
  margin-bottom: 25px;
}

ul.sponsor-list li {
  width: 25%;
  float: left;
  margin-bottom: 15px;
  width: calc(25% - 16px);
}

ul.sponsor-list li img {
  text-align: center;
  vertical-align: middle;
  /* max-width: 150px; */
  /* max-height: 40px; */
  width: auto;
  max-width: 70%;
  max-height: 80px;
}

ul.sponsor-list li a {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 128px;
  position: relative;
  z-index: 1;
  overflow: hidden;
  transition: opacity 0.3s ease-in-out;
}

hr.gradient {
  /* background: #959da5; */
  background: linear-gradient(to bottom, #87CEEB, #1E90FF);
  height: 8px;
}

hr {
  background: rgba(66, 82, 109, 0.5);
  height: 1px;
  border: none;
}

section.subscribe {
  text-align: center;
  display: inline-block;
  width: 100%;
  height: auto;
  z-index: 1;
  /* background: url("../images/cta-bg.png") center/100% auto no-repeat; */
  padding: 120px 0;
  background-size: cover;
}

section.subscribe p {
  width: 100%;
  font-size: 22px;
  margin-bottom: 20px;
}

section.subscribe ul {
  width: 100%;
  font-size: 22px;
  margin-bottom: 20px;
  padding-left: 20px;
}

section.subscribe ul li {
  list-style-type: disc;
  color:  #010b15;;
}

ul.blog-utilites {
  float: right;
}

ul.blog-utilites li {
  display: inline-block;
  text-align: center;
  margin-left: 7px;
  margin-right: 7px;
}

a.go-back {
}

a.go-back svg {
  float: left;
}

a.go-back span {
  float: left;
  line-height: 24px;
  margin-left: 10px;
}

.clear {
  clear: both;
}

section.faq {
  text-align: center;
  width: 100%;
  height: auto;
}

section.faq h1 {
  font-size: 43px;
  margin-bottom: 39px;
}

ul.faq-question {
}

ul.faq-question li {
}

ul.faq-question svg {
  float: right;
  cursor: pointer;
  margin-top: -35px;
  fill: rgb(14, 13, 13);
  transition: transform 0.6s ease;
}

ul.faq-question h2.faq-title {
  text-align: left;
  font-size: 30px;
  margin-bottom: 15px;
}

ul.faq-question .faq-content {
  text-align: left;
  margin-left: 0px;
  font-weight: 500;
  margin-bottom: 26px;
  color: #090909;
}

ul.speaker-list {
  width: 100%;
  float: left;
  margin-bottom: 19px;
}

ul.speaker-list li {
  width: 100%;
  height: auto;

  display: inline-block;
  padding-top: 30px;
  padding-bottom: 35px;

}

/* Speaker Section  */
.speaker-list__item , .member{
  width: 100%;
}
ul.speaker-list li img, .member img {
  width: 225px;
  border-radius: 50%;
  border: 3px solid #ff7170;
  height: 225px;
  object-fit: cover;
}

ul.speaker-list li h3, .member h3 {
  text-align: center;
  width: 100%;
  padding-left: 15%;
  padding-right: 15%;
  font-size: 16px;
  color: rgb(17, 17, 17);
  margin-bottom: 4px;
}

ul.speaker-list li h4, .member h4 {
  font-size: 23px;
  color: rgb(11, 11, 11);
}

ul.speaker-list li h5, .member h5 {
  font-size: 20px;
  color: #0f0f0f;
}

section.speakers h1 {
  font-size: 64px;
  line-height: 96px;
  margin-top: 45px;
  margin-bottom: 25px;
}

section.profile {
  float: left;
  width: 100%;
  height: auto;
  margin-bottom: 45px;
}

section.profile .avatar {
  float: left;
  width: 250px;
  border-radius: 10px;
}

section.profile .details {
  width: calc(100% - 275px);
  margin-left: 25px;
  float: left;
}

section.profile h1 {
  font-size: 54px;
  margin-bottom: 8px;
}

section.profile h2 {
  color: #b5bfd2;
  margin-bottom: 25px;
}

section.profile .social {
  margin-top: 25px;
}

section.profile .social svg {
  height: 24px;
  fill: currentColor;
  margin-right: 25px;
}

/* Slider css  */
.abc {
  height: 85vh;
  width: auto;
}

.carousel .xyz {
  /* height: auto;
  width: auto;
  display: flex;
  justify-content: center;
  align-items: center; */
  height: 500px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.carousel-control-prev,
.carousel-control-next {
  /* Set background color to transparent */
  background-color: transparent;
  display: none;
}

/* Responsive CSS */

@media only screen and (max-width: 1024px) {
  /* For Tablet: */
  section.content h1 {
    font-size: 45px;
    line-height: 45px;
    margin-top: 22px;
    margin-bottom: 20px;
  }
  
}

@media only screen and (max-width: 768px) {
  /* For mobile phones: */
  [class*="col-"] {
    width: 100%;
  }
  

  .header_inner_Wrapper {
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  header nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-left: unset;
    width: 100%;
  }

  header nav li {
    display: block;
    width: 50%;
  }

  header nav li a {
    width: 100%;
  }

  section.content h1,
  section.subscribe h2 {
    font-size: 35px;
    line-height: 35px;
  }

  section.content p,
  section.subscribe p {
    font-size: 18px;
  }

  .carousel .xyz {
    height: 180px;
  }
}


*{
  font-family: "Open Sans";
}


.grid-container_5 {
  display: grid;
  grid-template-columns: 30% 70%;
}

.grid-item_5 {
  text-align: center;
}

.col-full {
  width: 100%;
}



body {
  margin: 0;
  font-family: Arial, sans-serif;
}

.form {
  background-color: white;
  padding: 20px;
}

.grid-container_5 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}

.grid-item_5 {
  border-right: black solid;
}

iframe {
  width: 90%;
  height: 100%;
}

.section-header {
  text-align: center;
  margin-bottom: 20px;
}

/* p {
  text-align: justify;
} */

/* Media query for smaller screens */
@media only screen and (max-width: 768px) {
  .grid-container_5 {
      grid-template-columns: 1fr;
  }

  .grid-item_5 {
      border-right: none;
      margin-bottom: 20px; /* Add some space between grid items */
  }
}


@media only screen and (max-width: 1000px) {
  .grid-container_5 {
    grid-template-columns: 100%;
  }
}


@media (-webkit-min-device-pixel-ratio: 1.1), (-webkit-min-device-pixel-ratio: 1.09375), (min-resolution: 105dpi), (min-resolution: 1.1dppx) {
  /* Serve SVG sprite if browser supports SVG and resolution is more than 105dpi */
  .pswp--svg .pswp__button, .pswp--svg .pswp__button--arrow--left:before, .pswp--svg .pswp__button--arrow--right:before {
      background-image: url(images/photoswipe/default-skin.svg);
  }
  .pswp--svg .pswp__button--arrow--left, .pswp--svg .pswp__button--arrow--right {
      background: none;
  }
}


@media screen and (max-width: 1024px) {
  .pswp__preloader {
      position: relative;
      left: auto;
      top: auto;
      margin: 0;
      float: right;
  }
}


form {
    margin: 0;
    padding: 0;
    margin-bottom: 3rem;
}























